<div *ngIf="!connected">
  <input [(ngModel)]="username" placeholder="Enter your username" />
  <button (click)="connect()">Join Chat</button>
</div>

<div *ngIf="connected">
  <div class="chat-box">
    <div *ngFor="let msg of messages">
      <strong *ngIf="msg.type === 'JOIN' || msg.type === 'LEAVE'">
        [{{ msg.type }}] {{ msg.sender }}
      </strong>
      <div *ngIf="msg.type === 'CHAT'">
        <b>{{ msg.sender }}:</b> {{ msg.content }}
      </div>
    </div>
  </div>
  <input [(ngModel)]="message" placeholder="Type a message" (keyup.enter)="sendMessage()" />
  <button (click)="sendMessage()">Send</button>
</div>
