<!-- app.component.html -->
<p-toast></p-toast>

<div>
  <h2>Task Management</h2>

  <h3>Create New Task</h3>
  <form (ngSubmit)="createTask()">
    <input type="text" [(ngModel)]="newTask.title" name="title" placeholder="Task Title" required />
    <textarea [(ngModel)]="newTask.description" name="description" placeholder="Task Description" required></textarea>
    <select [(ngModel)]="newTask.priority" name="priority">
      <option value="low">Low</option>
      <option value="medium">Medium</option>
      <option value="high">High</option>
    </select>
    <select [(ngModel)]="newTask.userId" name="userId" required>
      <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
    </select>
    <p-dropdown 
    [options]="projects" 
    [(ngModel)]="newTask.projectId" 
    optionLabel="name" 
    placeholder="Select Project" 
    required>
  </p-dropdown>
  <button type="submit" [disabled]="taskForm.invalid">Create Task</button>
</form>

  <h3>Existing Tasks</h3>
  <ul>
    <li *ngFor="let task of tasks">
      <h4>{{ task.title }}</h4>
      <p>{{ task.description }}</p>
      <p>Status: 
        <select [(ngModel)]="task.status" (change)="updateTask(task)">
          <option value="to-do">To Do</option>
          <option value="in-progress">In Progress</option>
          <option value="completed">Completed</option>
        </select>
      </p>
      <p>Priority: {{ task.priority }}</p>
      <p>Assigned to: 
        <select [(ngModel)]="task.userId" (change)="updateTask(task)">
          <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
        </select>
      </p>
      <button (click)="updateTask(task)">Update</button>
      <button (click)="deleteTask(task.id!)">Delete</button>
    </li>
  </ul>
</div>