<p-menubar [model]="menuItems">
  <ng-template pTemplate="start">
    <button pButton type="button" icon="pi pi-bars" class="p-button-text" (click)="toggleSidebar()"></button>
  </ng-template>
  <div *ngIf="!userlogged; else loggedInTemplate">
    <ng-template>
      <button pButton type="button" label="Login" class="p-button-success" (click)="redirectToLogin()"></button>
    </ng-template>
  </div>
  
  <ng-template #loggedInTemplate>
    <button pButton type="button" label="Logout" class="p-button-danger" (click)="logout()"></button>
  </ng-template>
</p-menubar>

<p-sidebar [(visible)]="visibleSidebar" [position]="'left'" [baseZIndex]="10000">
  <div class="p-d-flex p-ai-center p-jc-between">
    <h2 class="p-m-0">Menu</h2>
    <button pButton icon="pi pi-times" class="p-button-rounded p-button-text" (click)="visibleSidebar = false"></button>
  </div>
  <hr />
  <ul class="menu-list">
    <li *ngFor="let item of menuItems1" class="menu-item">
      <a (click)="item.command()">
        <i [class]="item.icon"></i> {{ item.label }}
      </a>
    </li>
  </ul>
  <hr />
  <button pButton type="button" label="Close" class="p-button-danger p-mt-2" (click)="visibleSidebar = false"></button>
</p-sidebar>
